@media screen and (min-width: 320px) {


/* header部分 */


.p-headerTop {
  background-color: #CECECE;
  padding-top: 10px;
  position: relative;
}
.p-headerTop__title {
  text-align: center;
}
.p-headerTop__title-img {
  width: 40vw;
}
.c-headerTop__login {
  position: absolute;
  bottom: 0;
  right: 3vw;
}
.c-headerTop__login--logo {
  margin-left: 5vw;
  margin-bottom: -1vw;
  background-color: #ff0000;
  padding: 3vw;
  border-radius: 5px;
  width: 5vw;
  height: 5vw;
}
.c-headerTop__login-link {
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
}
.c-headerTop__login--text {
  font-size: 4vw;
}
.c-headerBottom__text {
  background-color: #DEDEDD;
  text-align: center;
  font-size: 4vw;
}


/* menu部分 */


.c-menu > li {
  border-bottom: 1px solid #dcdcdc;
  padding: 10px;
  display: block;
}
.c-menu__link {
  text-decoration: none;
  color: #000;
}
.c-menu__arrow {
  position: relative;
  background-color: #C0C0C0;
  width: 6vw;
  height: 6vw;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
}
.c-menu__arrow:after {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.3vw;
  margin-left: 2.2vw;
  content: "";
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  border: 1.5vw solid transparent;
  border-left: 2.5vw solid #fff;
}
.c-menu__text {
  margin-top: 2px;
  font-size: 4vw;
}


/* content部分 */


.p-content {
  margin-top: 20px;
  border-top: 1px solid #dcdcdc;
}
.slider {
  position: relative;
}
.c-slider-img {
  width: 100%;
}
.c-contents {
  float: left;
}
.p-slider-info {
  font-size: 20px;
  padding: 13px 5px;
  color: #fff;
  background-color: #ff0000;
  position: absolute;
  text-align: center;
}
.slide-dots {
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px;
}
.slide-dots > li {
  display: inline-block;
  margin-left: 10px;
}
.slide-dots > li:first-child {
  margin-left: 0;
}
#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03,
#slick-slide-control04,
#slick-slide-control05,
#slick-slide-control06,
#slick-slide-control07,
#slick-slide-control08 {
  border: none;
  background-color: transparent;
  font-size: 0;
  position: relative;
  text-indent: -9999px;
}
.slide-dots > li button:before {
  content: '■';
  color: #888;
  font-size: 20px;
  text-indent: 0px;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-dots li.slick-active button:before {
  color: #ff0000;
}


/* border-dotted部分 */


.p-dottedLine {
 content:"";
 background: url("../img/dodded.png");
 background-repeat: repeat;
 height: 20px;
}


/* main部分 */


.c-photoList {
  display: flex;
  flex-wrap: wrap;
  border-top: 3px solid #dcdcdc;
}
.c-photoList > li {
  box-sizing: border-box;
  border-left: 1px solid #dcdcdc;
  width: 33%;
  border-bottom: 1px solid #dcdcdc;
}
.c-photoList > li:nth-child(3n+1) {
  border-left: none;
}
.c-photoList__img {
  width: 100%;
}
.c-photoList__link {
  display: block;
  padding: 10px;
}
.p-mainBottom {
  border-bottom: 1px solid #dcdcdc;
}
.p-mainBottom__link {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 3vw 0;
  font-size: 5vw;
}
.p-mainBottom__link:after {
  content:"";
  width: 7vw;
  height: 7vw;
  background: url("../img/serch_arrow.png");
  background-repeat: no-repeat;
  background-size: 7vw;
}



/* label部分 */


.p-keyword__search {
  width: 80%;
  border: 1px solid 	#808080;
  box-shadow: 0px 0px 0px 5px #EEE;
  margin: 30px auto;
  padding: 10px 20px;
}
.p-keyword__search--about {
  margin-top: 10px;
  display: flex;
  margin-top: 0;
}
.p-keyword__item,
.p-keyword__text {
  margin-top: 10px;
  display: flex;
}
.p-keyword__item--select,
.p-keyword__text--input {
  width: 100%;
}
.p-keyword__item--option {
  font-size: 20px;
}
.p-keyword__text--button {
  width: 50px;
  height: 30px;
  background-color: #808080;
  color: #fff;
  margin-left: 5px;
}


/* sectionReview部分 */


.l-sectionReview {
  margin: 20px auto 0;
  width: 80%;
  border: 1px solid #808080;
  box-shadow: 0px 0px 0px 5px #EEE;
  padding: 0 20px;
}
.l-sectionReview > li {
  border-bottom: 1px dotted #808080;
  word-wrap: break-word;
}
.l-sectionReview > li:first-child {
  padding: 15px 0;
}
.p-review__link {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 3.8vw;
  position: relative;
  padding: 15px 6vw 15px 0;
}
.p-review__link:after {
  content:"";
  width: 6vw;
  height: 6vw;
  background: url("../img/serch_arrow.png");
  background-repeat: no-repeat;
  background-size: 6vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.l-sectionReview > li:first-child {
  border-bottom: 1px solid #808080;
  display: flex;
  position: relative;
}
.p-reviewTop__title {
  margin-left: 13vw;
  font-size: 5vw;
}
.p-reviewTop__icon {
  position: absolute;
  background: #000;
  color: #fff;
  border-radius: 2px;
  width: 9vw;
  height: 6vw;
}
.p-reviewTop__text {
  position: absolute;
  top: -2vw;
  left: 2vw;
  font-size: 5vw;
}
.p-reviewTop__icon:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -1.3vw;
  left: 0;
  width: 2px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  border-width: 15px 5px 0;
  border-width: 4vw 1.8vw 0;
}
.l-sectionReview > li:last-child {
  border-bottom: none;
  position: relative;
}
.p-reviewLast__link {
  display: flex;
  text-decoration: none;
  color: #000;
  padding: 15px 0;
}
.p-reviewLast__link:before {
  content:"";
  background: url("../img/arrow.png");
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: 4vw;
  margin: 1vw 4vw 0 1vw;
}
.p-review__text {
  font-size: 14px;
}
.p-reviewLast__text {
  font-size: 4vw;
}
.p-review__text-span {
  background-color: #ff0000;
  color: #fff;
  padding: 0 5px;
  margin-left: 10px;
}


/* sectionTopics部分 */


.l-sectionTopics {
  margin: auto;
  width: 80%;
  border: 1px solid #808080;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 5px #EEE;
  padding: 0 20px;
}
.l-sectionTopics > li {
  border-bottom: 1px dotted #808080;
  display: flex;
  position: relative;
}
.l-sectionTopics > li:first-child {
  border-bottom: 1px solid #808080;
  padding: 10px 0;
}
.l-sectionTopics > li:first-child::before {
  content:"";
  background: url("../img/kagu_interior.png");
  width: 6vw;
  height: 8vw;
  background-repeat: no-repeat;
  background-size: 5vw;
  margin-right: 15px;
}
.l-sectionTopics > li:last-child {
  border-bottom: none;
}
.p-topics__link {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.p-topics__img {
  width: 11vw;
  height: 10vw;
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.p-topicsTop__title {
  margin-top: 1vw;
  font-size: 4.3vw
}
.p-topics__text {
  font-size: 3.6vw;
  padding:0 6vw 0 13vw;
}
.p-topicsText {
  padding-bottom: 5vw;
}
.p-topics__text:after {
  content:"";
  width: 6vw;
  height: 6vw;
  background: url("../img/serch_arrow.png");
  background-repeat: no-repeat;
  background-size: 6vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.p-topicsLast__text {
  display: flex;
  font-size: 4vw;
}
.p-topicsLast__text:before {
  content:"";
  background: url("../img/arrow.png");
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: 4vw;
  margin: 1vw 4vw 0 1vw;
}
.p-topics__text-span {
  background-color: #ff0000;
  color: #fff;
  padding: 0 5px;
}


/* sns部分 */


.p-sns {
  margin: auto;
  width: 80%;
  border: 1px solid #808080;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 5px #EEE;
  padding: 0 20px 10px;
}
.p-sns > li:nth-child(2) {
  border-top: 1px dotted #808080;
  margin-left: 15vw;
  font-size: 13px;
}
.p-sns > li:nth-child(3) {
  border-top: 1px solid #808080;
}
.p-sns > li:nth-child(4) {
  border-top: 1px dotted #808080;
}
.p-sns > li:last-child {
  border-top: 1px dotted #808080;
}
.p-sns__newEntry-link {
  padding: 10px 0;
  display: flex;
  text-decoration: none;
  color: #000;
}
.p-sns__recruitLogin-link,
.p-sns__facebook-link,
.p-sns__twitter-link,
.p-sns__google-link {
  padding: 10px 0;
  display: flex;
  text-decoration: none;
  color: #000;
  position: relative;
}
.p-sns__recruitLogin-link:before {
  content:"";
  width: 7vw;
  height: 7vw;
  background: url("../img/recruit.png");
  background-repeat: no-repeat;
  background-size: 7vw;
  margin: 2vw 9vw 0 4vw
}
.p-sns__newEntry-link:before {
  content:"";
  background: url("../img/arrow.png");
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  background-size: 3vw;
  margin: 0.8vw 2vw 0 3vw;
}
.p-sns__facebook-link:before {
  content:"";
  width: 7vw;
  height: 7vw;
  background: url("../img/facebook.png");
  background-repeat: no-repeat;
  background-size: 7vw;
}
.p-sns__twitter-link:before {
  content:"";
  width: 7vw;
  height: 7vw;
  background: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-size: 7vw;
}
.p-sns__google-link:before {
  content:"";
  width: 7vw;
  height: 7vw;
  background: url("../img/google.png");
  background-repeat: no-repeat;
  background-size: 7vw;
}
.p-sns__recruitLogin-link:after,
.p-sns__facebook-link:after,
.p-sns__twitter-link:after,
.p-sns__google-link:after {
  content:"";
  width: 6vw;
  height: 6vw;
  background: url("../img/serch_arrow.png");
  background-repeat: no-repeat;
  background-size: 6vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.p-sns__recruitLogin__text {
  color: #93979D;
  font-size: 3.5vw;
}
.p-sns__newEntry__text {
  font-size: 3vw;
}
.p-sns__facebook__text {
  margin-top: 0.5vw;
  margin-left: 15px;
  color: #93979D;
  font-size: 4vw;
}
.p-sns__twitter__text,
.p-sns__google__text {
  margin-top: 1vw;
  margin-left: 13px;
  color: #93979D;
  font-size: 4vw;
}
.p-sns__recruitLogin-span {
  font-size: 3vw;
}


/* ranking部分 */


.p-ranking {
  position: relative;
  width: 75%;
  margin: 20px auto;
  border: 5px solid #dcdcdc;
}
.p-ranking__img {
  padding-right: 100px;
}
.p-ranking__arrow {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 30px;
  height: 30px;
}


/* footer部分 */


.p-footerTop {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 5vw 0 5vw 4vw;
  font-size: 3vw;
}
.p-footerTop__text-link {
  text-decoration: none;
  color: #000;
}
.p-footerTop__text-link:not(:first-child):before {
  content: "/";
}
.p-footerBottom {
  padding: 5vw 0 5vw 4vw;
}
.p-footerBottom__img {
  width: 80%;
  height: 50px;
}
.p-footerBottom__text {
  font-size: 4vw;
}
.p-footerBottom__link {
  color: #526771;
}
}























@media screen and (min-width: 750px) {
.l-body {
  margin: 0 auto;
  width: 90%;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}


/* content部分 */


.p-slider-info {
  font-size: 35px;
  padding: 15px 5px 10px;
}
.slide-dots  {
  padding-bottom: 50px;
}
.slide-dots > li {
  margin: 0px 20px 0px 20px;
}
.slide-dots li button:before {
  font-size: 30px;
}


/* main部分 */


.p-mainBottom__search {
  line-height: 50px;
}
.p-mainBottom__link::after {
  width: 40px;
  height: 40px;
  background: url("../img/serch_arrow.png");
}


/* label部分 */


.p-keyword__search {
  width: 90%;
  padding: 20px;
}
.p-keyword__search--about,
.p-keyword__item,
.p-keyword__text {
  margin-top: 20px;
  font-size: 45px;
}
.p-keyword__text--button {
  width: 100px;
  height: 80px;
  font-size: 25px;
}


/* sectionReview部分 */


.l-sectionReview {
  width: 90%;
}


/* sectionTopics部分 */


.l-sectionTopics {
  width: 90%;
}


/* sns部分 */


 .p-sns {
  width: 90%;
}


/* ranking部分 */


.p-ranking {
  position: relative;
  width: 86%;
  border: 10px solid #dcdcdc;
}
.p-ranking__img {
  height: 100px;
}
.p-ranking__arrow {
  position: absolute;
  top: 35px;
  right: 50px;
  width: 50px;
  height: 50px;
}


/* footer部分 */


.p-footerTop {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 20px 0 20px 30px;
  font-size: 3vw;
}
.p-footerBottom {
  padding-left: 20px;
}
.p-footerBottom__text {
  font-size: 3vw;
}
}
